# Node related
## node_modules dir
node_modules/*
## package.json
package.json

# Jade(s)
ReadMe.jade
index.jade

# CSS(s)
rainbower-js.css
rainbower-js.min.css

# Javascript(s)
exec.js
rainbower-js.min.js